@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	letter-spacing: 1.5px;;
}
/*-----------------estilos hearder------------------*/
.header { 
	height: 60px; 
}
.headrer .contenedor{
 display: flex;
 justify-content: space-between;
}
.logo, .icon-menu{
	margin: 0px;
	color: #fff;
}

.icon-menu{
	display: block;
	width: 40px;
	height: 40px;
	font-size: 30px;
	background: #5DADE2;
	text-align: center;
	line-height: 45px;
	border-radius: 5px;
	margin-left: auto;
	cursor: pointer;
}
/*--------------------------estilos del menu--------------------------*/
.nav{
	position: absolute;
	top: 100px;
	left: -100%;
	width: 100%;
	transition: all 0.4s;
}
.menu{
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu__link{
	display: block;
	padding: 10px;
	background: #5DADE2;
	text-decoration: none;
	color: #fff;
}
.menu__link:hover, .select{
	background: white;
	color: #5DADE2;
}
.mostrar{
	left: 0;
}
/*---------------------estilos del banner---------------------*/

.banner{
	margin-top: -60px;
	position: relative;
	z-index: -1000;
}

.banner .contenedor {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 100%;
	color: #fff;
	text-align: center;
}
.banner__txt{
	display: none;
}


